<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383520003140-vo4ni63p85nhud6874glrnvcvlc4mffg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383520003140-vo4ni63p85nhud6874glrnvcvlc4mffg</string>
	<key>API_KEY</key>
	<string>AIzaSyCcscLFxO7aMoDNGcbRNn733GO0kOL6HSk</string>
	<key>GCM_SENDER_ID</key>
	<string>383520003140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pandaman.identifier.SaveElderProject.SaveElderProjectNew</string>
	<key>PROJECT_ID</key>
	<string>saveelderproject-4b721</string>
	<key>STORAGE_BUCKET</key>
	<string>saveelderproject-4b721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383520003140:ios:6d38429bf3608c7c881811</string>
	<key>DATABASE_URL</key>
	<string>https://saveelderproject-4b721.firebaseio.com</string>
</dict>
</plist>